<!DOCTYPE html>
<html lang="en">
<head>
    <!--Meta Tags for Bootstrap 5-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    <!-- Link Bootstrap 5 - CSS Local-->
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 

    <!-- AGregando iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Formulario para Registro de Empleados</title>
</head>
<body>
<!-- SE invoca el navbar -->
<%- include("navbar") %>
<!-- Fin de la prueba de este comentario -->

<!--Iniciar el Formulario-->
<form action="/post" method="post">
    
    <div class="row mt-5">
        <div class="col-md-3">

        </div>

        <div class="form-group col-md-6">
            <label for="Nombre" class="col-form-label">Nombre</label>
            <input type="text"  class="form-control" id="nombre_emp" placeholder="Introduce el nombre del empleado">
        </div>

    </div>

    
    <div class="row">

        <div class="col-md-3">

        </div>

        <div class="form-group col-md-3">
            <label for="Telefono" class="col-form-label">Teléfono</label>
            <input type="number" class="form-control" name="telefono_emp" id="telefono_emp" required placeholder="Introduce el teléfono">
        </div>
        <div class="col-md-3">
            <label for="sexo" class="col-form-label">Sexo</label>
            <select class="form-control" id="sexo_emp">
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
            </select>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">

        </div>

        <div class="form-group col-md-6">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <label for="nacimiento" class="col-form-label">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" id="fecha_nac">
                </div>
            </div>

        </div>
    </div>

    <!-- Boton de Enviar -->

    <div class="row mt-3" >

            <div class="col-md-3">
                
            </div>

            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                                    <!-- Centrado de Boton utilizando clases de bootstrap-->
                   <div class="col-md-6 mx-auto">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                        <a href="/tabloide" class="btn btn-primary" role="button"><i class="fa fa-folder"></i> ir al Tabloide</a>
                   </div>
                </div>
            </div>
    </div>
        
</form>
</body>
</html>